{
	"$schema": "https://json.schemastore.org/prettierrc.json",
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 150,
	"singleQuote": false,
	"trailingComma": "es5",
	"bracketSameLine": true,
	"experimentalTernaries": false,
	"multilineArraysWrapThreshold": 3,
	"plugins": [
		"prettier-plugin-multiline-arrays"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": { "parser": "svelte" }
		}
	]
}
